#  Make sure we have mod_rewrite
Options -Indexes

# Hide a environment file
<Files .env>
    Order allow,deny
    Deny from all
</Files>

RewriteEngine On 

# allow HTTP basic authentication
RewriteCond %{HTTP:Authorization} ^(.+)$
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

# RewriteRule . api.php
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [L]